## Python wrapper for SWMM
Test case for Gottesacker model by Zhao Chen.
***
**Goals:**
<br>- Writes SWMM project.inp files using a template (template.inp) - searches for placeholder strings in the template and replaces them with data from a pandas dataframe. Dataframes can be created manually, or loaded from .csv files.
<br>- Run SWMM using the specified project.inp file
<br>- Import results from project.rpt file as pandas dataframes
***
**Files needed:**
<br>- template.inp
<br>- swmm5.exe
<br>- swmm5.dll
<br>
**Packages needed:**
<br>- pandas
<br>-

In [113]:
import pandas as pd
import numpy as np

In [59]:
#File structure and imports:

template_filename = 'template.inp'                                          #filename for template .inp file to import
input_filename =    'test.inp'                                              #filename to write new .inp file to
data_filename =     'junctions.csv'                                         #filename with data to insert into the .inp file
placeholder =       'junctions'                                             #placeholder string to replace with data

template =   pd.read_csv(template_filename, header=None, skip_blank_lines=False) #import template .inp file to dataframe
data =       pd.read_csv(data_filename,     header=1)                            #import data to dataframe that has separate columns

In [62]:
data.head()

   Name  InvertElev  MaxDepth  InitDepth  SurDepth  Aponded
0  1001   1900.0000         0          0       200        0
1  1002   1731.3889         0          0       200        0
2  1003   1624.0892         0          0       200        0
3  1004   1516.7895         0          0       200        0
4  1005   1409.4897         0          0       200        0

In [ ]:
#Convert data to formatted line strings:

#Create format string based on template file:
string = df2[0].loc[0]            #get string to model formatting on (the row of dashes in the template file)
cols = string.split()             #split string into chunks separated by whitespace
lengths = [len(item) for item in cols]                   #get length of each column
form = ''                                                #create empty string to fill
form = [form + '{:<' + str(l+1) + '}' for l in lengths]  #concatenate formatting info and return a list of format strings (one per column)
form = ''.join(form)                                     #join format strings into one for entire row

#Insert data
data = df.loc[0]                             #get line of data to be formatted
line = form.format(data[0],data[1],data[2])  #insert data into format string
print(line)

In [151]:
#Replace placeholder with new data:

temp = template.copy()                            #make a copy of the template, so that modifications won't change the original
df2insert = pd.DataFrame(['test test test','test test test'],index=[179,179.5])  #create a test dataframe to insert

#Get row index and location of placeholder:
ind = temp.index[temp[0]=='junctions']                        #df.index gets the index, df[0] looks in column 0 (returns an index object not just the name)
loc = temp.index.get_loc(ind[0])                                #get the integer position of the index specified (need to select first item (index name) in index object)

#Split original df into two, one for everything before the placeholder, one for everything after:
dfA = temp[temp.index < loc]                                    #create df for everything above placeholder
dfB = temp[temp.index > loc]                                    #create df for everything below placeholder

#Append the three dfs to each other (part above, part to insert, part below):
temp = dfA.append( df2insert, ignore_index=True)                #append additional part to top part
temp = temp.append(dfB,       ignore_index=True)                #append bottom part to new df

print(temp.iloc[loc-2:loc+5])

                                                     0
177  ;;Name           InvertElev MaxDepth   InitDep...
178  ;;-------------- ---------- ---------- -------...
179                                     test test test
180                                     test test test
181                                                NaN
182                                         [OUTFALLS]
183  ;;               Invert     Outfall    Stage/T...

In [ ]:
template.to_csv(input_filename, header=False, index=False)                     #write dataframe to .inp text file with specified name